In [3]:
import pandas as pd
from urllib.request import Request, urlopen
req = Request(url='https://minfin.gov.ru/ru/perfomance/nationalwealthfund/statistics?id_57=27068-obem_fonda_natsionalnogo_blagosostoyaniya', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
df_list = pd.read_html(webpage)
df = pd.DataFrame(df_list[0])
df = df.rename(columns={df.columns[0]: "Date", df.columns[1]: "amount_blnUSD",df.columns[2]: 'amount_blnRUB'})
df = df.drop(columns=df.columns[3])
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'\D+', '')
df['amount_blnRUB'] = df['amount_blnRUB'].astype(int) / 100
df['amount_blnUSD'] = df['amount_blnUSD'].astype(int) / 100
df

C:\Users\lenovo\AppData\Local\Temp\ipykernel_1904\3328736854.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'\D+', '')

           Date  amount_blnUSD  amount_blnRUB
0    01.02.2023         155.30       10807.60
1    01.01.2023         148.35       10434.58
2    01.12.2022         186.49       11389.51
3    01.11.2022         184.84       11374.08
4    01.10.2022         187.97       10792.19
..          ...            ...            ...
176  01.06.2008          32.60         773.93
177  01.05.2008          32.72         773.82
178  01.04.2008          32.90         773.57
179  01.03.2008          32.22         777.03
180  01.02.2008          32.00         783.31

[181 rows x 3 columns]

In [10]:
from pathlib import Path  
filepath = Path('C:/Users/lenovo/python/FNB/fnb.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)